@import "tailwindcss";

/* Đảm bảo toàn bộ ứng dụng luôn chiếm full màn hình */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ngăn chặn cuộn toàn trang */
}

/* Tùy chỉnh màu nprogress bar */
#nprogress .bar {
  background: #2563eb !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2563eb, 0 0 5px #2563eb !important;
}

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}